<div>
  <table border="1">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Weight</th>
      <th>Area</th>
      <th>Bookstand</th>
      <th>Shelf</th>
      <th>Availability</th>
      <th>Type of Warehouse</th>
      <th>Qyality</th>
      <th>Teritorial Restrictions</th>
      <th>Manufacturer</th>
    </tr>
    <tr *ngFor="let item of items$ | async as items">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.weight }}</td>
      <td>{{ item.area }}</td>
      <td>{{ item.bookstand }}</td>
      <td>{{ item.shelf }}</td>
      <td>{{ item.availability }}</td>
      <td>{{ (item.belongToCustomWarehouse && "Bonded") || "Normal" }}</td>
      <td>{{ (item.isDamaged && "Damaged") || "Normal" }}</td>
      <td>{{ (item.isTeritorialyRestricted && "Yes") || "No" }}</td>
      <td>{{ item.manufacturer.name }}</td>
    </tr>
  </table>
</div>
